-y ffmpeg libsm6 libxext6
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.7.1+cpu
torchvision==0.8.2+cpu
numpy
matplotlib
scipy
opencv-python
imageio
flask
gunicorn
scikit-image
seaborn
-e git+https://github.com/pvigier/perlin-numpy#egg=perlin-numpy
